/**
 *
 * Admin Bar
 *
 */

/* Build Button */
#wp-admin-bar-netsby_build > a.ab-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#wp-admin-bar-netsby_build > a.ab-item::before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 8px;
	padding: 0;
	background: #fff;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

#wp-admin-bar-netsby_build.inactive > a.ab-item::before {
	background: #ccc;
}

#wp-admin-bar-netsby_build.active > a.ab-item::before {
	background: #fff;
}

#wp-admin-bar-netsby_build.sending > a.ab-item::before {
	background: transparent;
	-webkit-animation: building 1.6s infinite ease-in-out;
	        animation: building 1.6s infinite ease-in-out;
}

#wp-admin-bar-netsby_build.building > a.ab-item {
	cursor: not-allowed;
}

#wp-admin-bar-netsby_build.building > a.ab-item::before {
	background: #FFC107;
}

#wp-admin-bar-netsby_build.ready > a.ab-item::before {
	background: #8BC34A;
}

#wp-admin-bar-netsby_build.failed a.ab-item::before {
	background: #F44336;
}

/* Sub Buttons */
#wp-admin-bar-netsby_build > .ab-sub-wrapper > .ab-submenu > li > a.ab-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#wp-admin-bar-netsby_build > .ab-sub-wrapper > .ab-submenu > li > a.ab-item svg {
	fill: #fff;
	width: 16px;
	height: auto;
	margin-right: 4px;
}

/* Refresh Status Button */
#wp-admin-bar-netsby_build > .ab-sub-wrapper > .ab-submenu > li#wp-admin-bar-netsby_build_status > a.ab-item.loading svg {
	-webkit-animation: loading 1.6s linear infinite;
	        animation: loading 1.6s linear infinite;
}

/* Unlock Build Button */
#wp-admin-bar-netsby_build > .ab-sub-wrapper > .ab-submenu > li#wp-admin-bar-netsby_build_unlock > a.ab-item svg {
	fill: #F44336;
}

@-webkit-keyframes building {
	0% {
		background: transparent;
	}
	50% {
		background: #fff;
	}
	100% {
		background: transparent;
	}
}

@keyframes building {
	0% {
		background: transparent;
	}
	50% {
		background: #fff;
	}
	100% {
		background: transparent;
	}
}

@-webkit-keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		        transform: rotate(-360deg);
	}
}

@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

/**
 *
 * Post Types
 *
 */

/* Preview Button */
.editor-post-preview {
	display: none !important;
}
